.sidebar__container {
  width: var(--sidebar-width);
  height: inherit;
  gap: var(--space-sm);
  display: flex;
  align-items: start;
  scrollbar-width: none;
  overflow-x: hidden;
  padding-right: var(--space-lg);
  box-sizing: border-box;
  word-break: keep-all;
  background-color: var(--bg-base);
      &>.sidebar__list{
          height: 100%;
          overflow-y: auto;
          width: 8rem;
          gap:var(--space-sm);
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          scrollbar-width: none;
          padding-top: var(--space-xl);
          &-item {
            &--active {
              background-color: rgba(255, 255, 255, 0.1);
              color: var(--text-state-nabar-active);
              font-weight: 500;
              &::before {
                background-color: var(--text-state-nabar-active);
                content: "";
                position: absolute;
                top: 50%;
                border-start-end-radius: 0.4rem;
                border-end-end-radius: 0.4rem;
                left: 0;
                width: 0.3rem;
                height: 3.6rem;
                transform: translateY(-50%);
              }
            }
          }
      }
      & .sidebar__switch > div{
        width: 8rem;
        display:flex;
        align-items:center;
        flex-direction:row;
        justify-content:center;
        color:var(--text-state-navbar-active);
        cursor:pointer;
        transition: all .2s ease-in-out;
        gap: var(--space-xs);
        font-size: 1.4rem;
         margin:var(--space-xl) 0;
        
      };
      .sidebar__list-item{
        align-self: stretch;
        border-radius: 8px;
        padding:var(--space-md);  
        cursor: pointer;
        transition: all .2s ease-in-out;
        display:flex;
        align-items:center;
        flex-direction:column;
        justify-content:center;
        flex-grow: 1;
        &:hover{
            background-color: rgba(255, 255, 255, 0.1);
        }
        &>a{
      
            display: block;
            width: 100%;
        }
    height: 100%;
    scrollbar-width: none;
   
  }
}
