.userProfileInfoCard{
    display:flex;
    flex-direction:row;
    border-radius: var(--space-md);
    border: 1px solid #E0E0E0;
    gap:.5rem;
    align-items:center;
    margin-left: var(--space-3xl);
    padding:var(--space-xs) var(--space-md);
    cursor:pointer;
    transition: all .2s ease-in-out;
    &:hover{
        background-color: #E0E0E0;
    }
    background-color: #fff;
    & .avatar{
        width:3.2rem;
        height:3.2rem;
        border-radius:50%;
    }
    & .userInfo{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
     
        & .userInfo-name{
            font-size:1.5rem;
            font-weight:500;
        }
        & .userInfo-role{
            font-size:1.5rem;
            
        }
    }
   
}