:root{
        --blue-50: #E4EFFE;
    
        --blue-100: #C9E0FD;
    
        --blue-200: #93C1FA;
    
        --blue-300: #5EA3F8;
    
        --blue-400: #2884F5;
    
        --blue-500: #0A68DB;
    
        --blue-600: #0858B9;
    
        --blue-700: #074897;
    
        --blue-800: #053066;
    
        --blue-900: #031E3F;
    
        --blue-950: #02152B;
    
        --blue-1a: rgba(var(--blue-500) / .10);
    
        --blue-2a: rgba(var(--blue-500) / .15);
    
        --blue-3a: rgba(var(--blue-500) / .20);
    
        --blue-4a: rgba(var(--blue-500) / .25);
    
        --blue-5a: rgba(var(--blue-500) / .30);
    
        --blue-6a: rgba(var(--blue-500) / .40);
    
        --blue-7a: rgba(var(--blue-500) / .50);
    
        --blue-8a: rgba(var(--blue-500) / .60);
    
        --blue-9a: rgba(var(--blue-500) / .70);
    
        --blue-10a: rgba(var(--blue-500) / .80);
    
        --blue-11a: rgba(var(--blue-500) / .90)
}
