.template-library-container {
    .MuiOutlinedInput-root {
        height: 36px;
    }
    .MuiButton-startIcon {
        margin: 0;
    }
    .more-options-button{
        padding: 6px;
        min-width: auto;
    }
}
.template-library-table-container {
    .MuiPaper-root {
        box-shadow: none;
        border-radius: 0px;
    }
    .MuiTableCell-root {
        padding: 0.8rem;
        width: auto;
    }
    .MuiTableRow-root {
        box-shadow: none;
    }
    .template-head-text {
        font-size: 15px;
        font-weight: 500;
        color: #333333;
        min-width: fit-content;
        background-color: #F4F5FA;
    }
    .template-body-text {
        font-size: 15px;
        font-weight: 400;
        color: #333333;
        min-width: fit-content;
    }
    .template-title-text {
        font-size: 13px;
        font-weight: 400;
        color: #5C5C5C;
    }
    .cursor-pointer {
        cursor: pointer;
    }
    .template-checkbox-container {
        user-select: none;
         position: relative;

        .checkbox-wrapper {
            display: none;
        }

        &:hover {
            .icon-wrapper {
            display: none;
            }
            .checkbox-wrapper {
            display: inline-flex;
            }
        }

        &.force-checkbox {
            .icon-wrapper {
            display: none !important;
            }
            .checkbox-wrapper {
            display: inline-flex !important;
            }
        }
        .form-control-label {
            .MuiCheckbox-root{ 
                padding: 0;
            }
            .MuiFormControlLabel-label{ 
                margin: 0; 
                margin-left:'6px';  
            }
            
        }
        .MuiFormControlLabel-root{
            margin:0;
            padding:10px 10px;
        }
    }
    .icon-header-container {
        .MuiFormControlLabel-root{
            margin:0;
            padding:0px 10px;
        }
    }
}