:root{
    font-family: 'roboto';
    --space-xs:.4rem;
    --space-sm:.6rem;
    --space-md:.8rem;
    --space-lg:1.2rem;
    --space-xl:1.6rem;
    --space-2xl:2rem;
    --space-3xl:2.4rem;
    --space-4xl:2.8rem;   
    --space-5xl:3.2rem;
    --space-6xl:3.6rem;
    --space-7xl:4rem;
    --space-8xl:4.4rem;
    --space-9xl:4.6rem;
    --space-10xl:5.28rem;
    --space-11xl:5.6rem;
 
    --topBarHeight: 6rem;
    --background-secondary: #F6F6F6;
    --background-default: #ffffff;
    --primary-color: #0A68DB;
    --primary-color-hover: #0a68dbf5;
    --secondary-color: #1E1E1E;
    --text-primary: #1E1E1E;
    --text-secondary: #1E1E1E;
 
    --border-tertiary: 1px solid #E7E7E7;
    --border-secondary: 1px solid #DCDCDC;
    --border-primary: 1px solid #C1C1C1;
    --border-brand-primary: 1px solid #0A68DB;
    --border-brand-primary_subtle: 1px solid #2884F5;
    --border-brand-primary_bold: 1px solid #0858B9;
}
 
*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
 